body {
    margin: 0;
}
header {
    background-color: #DFC184;
}

header, .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navMenu, ul {
    display: inline;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 2%;
    border-radius: 50%;
    width: 40%;
}

@font-face {
    font-family: 'Meow'; /*a name to be used later*/
    src: url(fonts/MeowsNepilRegular-Yzvwa.ttf);
}

@font-face {
    font-family: 'Meow2'; /*a name to be used later*/
    src: url(fonts/CuteMeow-51Pra.otf);
}
#smudge {
    font-family: Meow;
}

/* header {
    background-image: url(img/test.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
} */

li a {
    text-decoration: none;
    font-family: Meow;
    color: black;
}

ul {
    list-style-type: none;
}

@media screen and (min-width: 900px){
    /* header {
        background-image: url(img/smudgeIcon.jpg), url(img/test.jpg);
        background-size: 20%;
        background-repeat: no-repeat, repeat;
    } */
    header {
        height: 20%;
    }
    #navMenu,ul {
        display: initial;
    }

    nav, li {
        display: flex;
        flex-direction: row;
        float: left;
        justify-content: space-evenly;
    }

    #icon {
        float: right;
    }

    li a {
        display: inline-block;
        margin-left: 50%;
    }

    .logo, h2 {
        display: inline-block;
        width: 10%;
    }

    .container {
        display: inline;
    }
}