body {
    margin: 0;
}
header {
    /* background-color: #DFC184; */
    background-color: #55AEB6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #55AEB6;
}

li a, .smudgeLeft {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.coverSmudge {
    width: 100%;
}
/* header, .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

#home {
    background-color: #F7DF7D;
    padding-left: 2%;
    padding-right: 2%;
}

#furParents {
    text-align: center;
}

#how {
    padding-left: 70%;
}


.parentName, #furParents {
    font-family: Meow3;
    font-size: 32px;
}

#hows {
    mix-blend-mode: darken;
    width: 90%;
}

.howard {
    width: 30%;
    float: right;
}
video, .emily {
    width: 40%;
    float: left;
    margin-right: 3%;
    margin-top: 1%;
}
.design-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-height: 100vh;
    padding: 100px 0;
  }
  
  .design {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .timeline-content {
    padding: 20px;
    background: #55AEB6;
    -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #55AEB6;
            box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #55AEB6;
    border-radius: 5px;
    color: white;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: 20px;
    border-radius: 6px;
  }
  
  .timeline-component {
    margin: 0px 20px 20px 20px;
  }
  

    .timeline {
      display: grid;
      grid-template-columns: 1fr 3px 1fr;
    }
    .timeline-middle {
      position: relative;
      background-image: linear-gradient(45deg, #EBCB2A, #EBCB2A, #EBCB2A);
      width: 3px;
      height: 100%;
    }
    .main-middle {
      opacity: 0;
    }
    .timeline-circle {
      position: absolute;
      top: 0;
      left: 50%;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-image: linear-gradient(45deg, #EBCB2A, #EBCB2A, #EBCB2A);
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
/* #navMenu, ul {
    display: inline;
    justify-content: center;
    align-items: center;
} */

.logo {
    margin-top: 2%;
    border-radius: 50%;
    width: 60%;
}

.catIcon {
    width: 10%;
}

@font-face {
    font-family: 'Meow'; /*a name to be used later*/
    src: url(fonts/MeowsNepilRegular-Yzvwa.ttf);
}

@font-face {
    font-family: 'Meow2'; /*a name to be used later*/
    src: url(fonts/CuteMeow-51Pra.otf);
}

@font-face {
    font-family: 'Meow3'; /*a name to be used later*/
    src: url(fonts/HimalayanCat-0WMAz.otf);
}

@font-face {
    font-family: 'Meow4'; /*a name to be used later*/
    src: url(fonts/KiddosyfreeRegular-GOEag.otf);
}

.smudge {
    font-family: Meow;
    color: white;
    font-size: 20px;
}

.timeLineIntro {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 5%;
}
.phFlag {
    width: 28%;
}

.canadaFlag {
    width: 30%;
}

.meow3 {
    font-family: Meow3;
    font-size: 24px;
}

/* header {
    background-image: url(img/test.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
} */

/* li a {
    text-decoration: none;
    font-family: Meow;
    color: white;
    font-size: 22px;
}

ul {
    list-style-type: none;
} */
.timelineOuter {
    background-color: #55AEB6;
}
footer {
    background-color: #55AEB6;
    text-indent: 2%;
    display: flex;
    flex-direction: column;
}

.smudgeSide {
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
}

@media screen and (min-width: 900px){
    /* header {
        background-image: url(img/smudgeIcon.jpg), url(img/test.jpg);
        background-size: 20%;
        background-repeat: no-repeat, repeat;
    } */
    /* header {
        height: 20%;
    } */
    .smudge {
        font-family: Meow;
        color: white;
        font-size: 34px;
    }

    #hows {
        width: 50%;
    }
    
    video {
        width: 30%;
    }

    .test {
        float: right;
    }

    /* #navMenu,ul {
        display: initial;
    } */

    nav {
        display: flex;
        flex-direction: row;
        float: left;
        justify-content: space-evenly;
    }

    #icon {
        float: right;
    }

    #how {
        padding-left: 55%;
    }

    /* li a {
        display: inline-block;
        margin-left: 50%;
    } */

    .logo, h2 {
        display: inline-block;
        width: 10%;
    }

    .container {
        display: inline;
    }

    section {
        padding: 2em;
        background-color: #fff;
        margin: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .group1_main {
        display: grid;
        grid-template-columns: (1fr, 1fr, 1fr);
        gap: 10px;
        margin-bottom: 5em;
    }

    .smudgePic1 {
        position:relative;
        z-index:-1;
        width: 100%;
        height: 100%;
    }

    .landingPic {
        grid-template-areas: landingPic;
        grid-column: 1;
        grid-column-end: 4;
        grid-row: 1;
        height: 1000px;
        background: linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5));
    }

    .group_sub0 {
        grid-template-areas: sub0;
        grid-column: 2;
        grid-column-end: 3;
        grid-row: 2;
        text-align: center;
        align-items: center;
    }
    .picturesTab {
        display: flex;
        flex-wrap: nowrap;
        background-color: DodgerBlue;
    }

    .picturesTab > div {
        background-color: #f1f1f1;
        width: 100%;
        /* margin: 10px; */
        text-align: center;
        line-height: 75px;
        font-size: 30px;
    }

    .picturesTab > img {
        width: 20%;
    }

    .headerPic {
        grid-template-areas: headerPic;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 4;
    }

    .group_sub0pic1 {
        grid-template-areas: sub0pic1;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row: 5;
    }

    .group_sub0pic2 {
        grid-template-areas: sub0pic2;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row: 5;
    }

    .group_sub0pic3 {
        grid-template-areas: sub0pic3;
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row: 5;
    }

    .group1_sub1 {
        grid-template-areas: sub1;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 3;
    }

    .group1_sub2 {
        grid-template-areas: sub2;
        grid-column: 3;
        grid-row: 3;
        padding-top: 4%;
    }

    .group1_sub3 {
        grid-template-areas: sub3;
        grid-column: 3;
        grid-row: 4;
    }

    .table {
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        width: 100%;
    }

    .table td, .table th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      
    .table tr:nth-child(even){background-color: #f2f2f2;}
      
    .table tr:hover {background-color: #ddd;}
      
    .table th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #EBCB2A;
        color: white;
      }

    .group_sub0pic1, .group_sub0pic2, .group_sub0pic3 {
        border-style: solid;
        border-color: #f9966c;
        text-align: center;
        margin: 10px;
        margin: 3%;
    }

    .sub0pic1 > img, .sub0pic2 > img, .sub0pic3 > img {
        width: 95%;
        height: 500px;
        max-width: 100%;
        margin: 3%;
        text-align: center;
        align-items: center;
    }

    .carousel {
        position: relative;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    }
    
    .carousel-inner {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 800px;
        /* background-color: #00b3b3; */
    }
    
    .carousel-open:checked + .carousel-item {
        position: static;
        opacity: 100;
    }
    
    .carousel-item {
        position: absolute;
        opacity: 0;
        -webkit-transition: opacity 0.6s ease-out;
        transition: opacity 0.6s ease-out;
    }
    
    .carousel-item img {
        display: block;
        width: 100%;
        height: 900px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .carousel-control {
        background: rgba(0, 0, 0, 0.28);
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        display: none;
        font-size: 40px;
        height: 40px;
        line-height: 35px;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        cursor: pointer;
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        text-align: center;
        width: 40px;
        z-index: 10;
    }
    
    .carousel-control.prev {
        left: 2%;
    }
    
    .carousel-control.next {
        right: 2%;
    }
    
    .carousel-control:hover {
        background: rgba(0, 0, 0, 0.8);
        color: #aaaaaa;
    }
    
    #carousel-1:checked ~ .control-1,
    #carousel-2:checked ~ .control-2,
    #carousel-3:checked ~ .control-3 {
        display: block;
    }
      
    li {
        float: left;
    }
    
    li a:hover:not(.active) {
        background-color: #EBCB2A;
      }
      
      .active {
        background-color: #EBCB2A;
      }
    .navLeft {
        float: right;
        padding-right: 3%;
    }

    .coverSmudge {
        width: 100%;
    }

    .meow3 {
        font-family: Meow3;
        font-size: 36px;
    }

    .canadaFlag {
        padding-top: 1%;
        width: 10%;
        position: static;
    }

    .phFlag {
        width: 7%;
    }

    .smudgeSide {
        width: 100%;
    }

    #history {
        background-color: #55AEB6;
        color: white;
    }

    #facts {
        background-color: #EBCB2A;
        color: white;
    }

    #emi {
        padding-bottom: 1%;
        display: block;
    }
    .design-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        min-height: 100vh;
        padding: 0;
      }
      
      .design {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .timeline {
        width: 80%;
        height: auto;
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
      }
      
      .timeline-content {
        padding: 20px;
        background: #EBCB2A;
        -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #55AEB6;
                box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #55AEB6;
        border-radius: 5px;
        color: black;
        padding: 1.75rem;
        transition: 0.4s ease;
        overflow-wrap: break-word !important;
        margin: 1rem;
        margin-bottom: 20px;
        border-radius: 6px;
      }
      
      .timeline-component {
        margin: 0px 20px 20px 20px;
      }
      
      .timeline-component img {
        width: 50%;
      }
      .timeLineIntro {
        text-align: center;
        padding-bottom: 3%;
      }
    
        .timeline {
          display: grid;
          grid-template-columns: 1fr 3px 1fr;
        }
        .timeline-middle {
          position: relative;
          background-image: linear-gradient(45deg, white, white, white);
          width: 3px;
          height: 100%;
        }
        .main-middle {
          opacity: 0;
        }
        .timeline-circle {
          position: absolute;
          top: 0;
          left: 50%;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-image: linear-gradient(45deg, white, white, white);
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
        }
    
        * {
            box-sizing: border-box;
          }
          
          body {
            margin: 0;
            font-family: Arial;
          }
          
          .header {
            text-align: center;
            padding: 32px;
          }
          
          .row {
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;
            padding-bottom: 1%;
          }
          
          /* Create four equal columns that sits next to each other */
          .column {
            flex: 25%;
            max-width: 25%;
            padding: 0 4px;
          }
          
          .column img {
            margin-top: 8px;
            vertical-align: middle;
          }

        .contactContainer {
            text-align: center;
            background-color: #55AEB6;
        }

        .conHeader {
            font-family: Meow4;
            font-size: 32px;
            color: white;
        }

        input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
          }
          
        input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
          
        input[type=submit]:hover {
            background-color: #45a049;
          }
          
        .contactUsForm {
            border-radius: 5px;
            background-color: #F7DF7D;
            padding: 20px;
        }
}